# gitignore files for Aspire Update

# Files and folders related to build and test tools.
.phpunit.result.cache
/phpunit.xml
/vendor
.cache/*
/tests/phpunit/cache
/tests/phpunit/coverage
.DS_Store

# Track placeholders so that empty directories stay in the repo.
!.gitkeep
