@keyframes glow {
    0% {
        background-color: rgba(255, 223, 0, 0.1);
    }
    100% {
        background-color: none;
    }
}

.glow-reveal {
    animation: glow 0.5s ease-in-out;
}