@keyframes glow {
	0% {
		background-color: rgba(255, 223, 0, 0.1);
	}

	100% {
		background-color: none;
	}
}

.glow-reveal {
	animation: glow 0.5s ease-in-out;
}

.aspireupdate-settings-field-hosts-wrapper .aspireupdate-settings-field-hosts-row {
	margin: 0 0 10px;
}

#aspireupdate-generate-api-key {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../images/icon-key.svg) no-repeat center center / 24px 24px;
	background-color: #cbcbcb;
	border: 1px solid #8c8f94;
	border-radius: 3px;
	clip-path: inset(0 0 0 0);
	color: transparent;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#aspireupdate-generate-api-key:hover {
	background-color: #e3e3e3;
}

.aspireupdate-settings-field-wrapper p.error {
	color: #bc3b3b;
	display: none;
}

#voltron {
	color: transparent;
	font-size: 8px;
	line-height: 6px;
	display: inline-block;
	cursor: default;
}

#voltron:hover {
	animation: blink 1.8s ease-in-out infinite;
	animation-delay: 5s;
}

@keyframes blink {
	0%,
	100% {
		color: inherit;
	}
	50% {
		color: transparent;
	}
}
